<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<link rel="stylesheet" href="view/histogramGraph/histogram.css" />
<div class="divDialog divHistogram">
   
   
   <div class="divGraphContainer">
      <div class="divBarGraph"></div>
      <div class="divBtnValues">
         <input type="text" maxlength="5" size="5" id="txtHighlight" value="255" />
         <input type="text" maxlength="5" size="5" id="txtMidTone" value="127" />
         <input type="text" maxlength="5" size="5" id="txtShadow" value="0" />
      </div>
      
      <a class="btn btnHighLight"></a>
      <a class="btn btnMidTone"></a>
      <a class="btn btnShadow"></a>
   </div>
   
   <div class="divControl">
      <a class="btn btnOK">OK</a>
   </div>
      
   <script src="view/histogramGraph/barGraph.js"></script>
   <script src="view/histogramGraph/histogram.js"></script>
</div>
